@font-face{
    font-family: Urbanist;
    src: url("../src/assets/fonts/Urbanist-Regular.ttf");
    font-family: Doto2xl;
    src: url("../src/assets/fonts/Doto-ExtraBold.ttf")
}
@import "tailwindcss";

@theme{
    --font-urbanist: Urbanist, "sans-serif";
    --font-doto2xl: Doto2xl, "sans-serif";
}